---
import { getCollection, getEntryBySlug } from "astro:content";
import dayjs from "dayjs";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../layouts/Prose.astro";
const arrow = "-->";
const entry = await getEntryBySlug("blurbs", "blog");
const { Content } = await entry.render();
const blogEntries = await getCollection("blog");
---

<BaseLayout title="Ryan's Blog Posts" description="">
    <h1 class="pb-2 text-xl text-red-400 underline">
        {entry.data.title}
    </h1>
    <Prose>
        <Content />
    </Prose>
    <ul>
        {
            blogEntries.map((blogPostEntry) => (
                <li class="text-sm md:text-base">
                    <time datetime={blogPostEntry.data.pubDate.toISOString()}>
                        {dayjs(blogPostEntry.data.pubDate).format("YYYY-MM-DD")}{" "}
                        {arrow}
                    </time>
                    <a
                        href={`/blog/${blogPostEntry.slug}`}
                        class="text-green-400 hover:text-red-400"
                    >
                        {blogPostEntry.data.title}{" "}
                        <span class="hidden md:inline-block text-xs text-gray-200">
                            -{blogPostEntry.data.description}
                        </span>
                    </a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
