---
import { Icon } from "astro-icon";
const today = new Date();
const svgBaseClass = `w-6 h-6 fill-current stroke-2`;
const icons = [
    {
        name: "Github",
        handle: "simple-icons:github",
        color: `${svgBaseClass} hover:text-[#ffffff]`,
        link: "https://github.com/Rjbaird",
    },
    {
        name: "Linkedin",
        handle: "simple-icons:linkedin",
        color: `${svgBaseClass} hover:text-[#0A66C2]`,
        link: "https://www.linkedin.com/in/bairdryan/",
    },
    {
        name: "Twitter",
        handle: "simple-icons:twitter",
        color: `${svgBaseClass} hover:text-[#1DA1F2]`,
        link: "https://twitter.com/ryanjohnbaird",
    },
    // {
    //     name: "RSS",
    //     handle: "simple-icons:rss",
    //     color: `${svgBaseClass} hover:text-[#FFA500]`,
    //     link: "https://ryanbaird.com/rss.xml",
    // },
];
---

<footer class="sticky top-[100vh] pt-10 text-white">
    <div class="mx-auto flex max-w-7xl justify-between md:items-center">
        <div class="flex gap-2 text-sm">
            &copy;{today.getFullYear()}
            <span class="hidden md:block">Ryan Baird</span>
            <span class="hidden text-red-400 md:block">|</span>
            <span class="hidden md:block">All rights reserved.</span>
        </div>
        <div class="flex justify-center space-x-6 md:order-2">
            {
                icons.map((icon) => (
                    <a
                        href={icon.link}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-white hover:text-gray-300"
                    >
                        <span class="sr-only">{icon.name}</span>
                        <Icon class={icon.color} name={icon.handle} />
                    </a>
                ))
            }
        </div>
    </div>
</footer>
