---
import BaseLayout from "@layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <h1 class="text-green-500">{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    <h3 class="text-indigo-500">Publish Date: {frontmatter.publishDate}</h3>
    {
        frontmatter.tags && (
            <h3>Tags: {frontmatter.tags.map((tag) => `${tag} `)}</h3>
        )
    }
    <article
        class="prose prose-p:text-gray-100 prose-a:text-green-500 hover:prose-a:text-yellow-400"
    >
        <slot />
    </article>
</BaseLayout>
