---
import BaseLayout from "@layouts/BaseLayout.astro";
import MDXLayout from "@layouts/MDXLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <h3 class="text-indigo-500">{frontmatter.category}</h3>
    <h1 class="text-gray-100 text-5xl">{frontmatter.title}</h1>
    <hr class="my-8 border-t-2 w-3/4 mx-auto"/>
    <p>{frontmatter.description}</p>
    {
        frontmatter.tags && (
            <h3>Tags: {frontmatter.tags.map((tag: String) => `${tag} `)}</h3>
        )
    }
    <MDXLayout>
        <slot />
    </MDXLayout>
</BaseLayout>
